# ambientes virtuais
venv/
venv_receitas/
vevn/
.venv/
pyvenv.cfg
venv_tc_2/

# extensões
*.pyc
__pycache__/
.ipynb_checkpoints

# arquivos especificos
uv.lock

# pastas com dados
etl_ibovespa/data/*.csv
legacy/
scraped/